* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-style: inherit;
  font-weight: 530;
  letter-spacing: 0.2vw;
}

#h1_tekst {
  font-weight: 480;
}

#h1_hej {
  color: #14a76c;
  font-weight: 600;
}

#h1_navn {
  color: #ff652f;
  font-weight: 600;
}

#projekter-h1 {
  font-weight: 600;
}

body {
  background-color: #24305e;
  color: #fffefa;
}

.some > img {
  padding-top: 3%;
  padding-right: 2%;
  height: auto;
  width: 3vw;
}

.logo > img {
  margin-top: 2%;
  margin-left: 13%;
  height: 8vw;
  width: auto;
}

.intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 3%;
}

.intro-grid-tekst {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#HTML {
  color: #ff652f;
}

#CSS {
  color: #ffe400;
}

#JS {
  color: #14a76c;
}

.intro-grid-billede {
  grid-column: 2;
  text-align: right;
}
.intro-grid-billede > img {
  width: 22vw;
  height: 22vw;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid;
  border: 0.2vw solid #ff652f;
}